################################################################################
# UCF for VC707                                            ArchLab. TOKYO TECH #
################################################################################

## UART
# NET "RXD" LOC = AU33  |  IOSTANDARD = "LVCMOS18";
NET "TXD" LOC = AU36  |  IOSTANDARD = "LVCMOS18";

## LED
NET "ULED[0]" LOC = AM39 | IOSTANDARD = "LVCMOS18";
NET "ULED[1]" LOC = AN39 | IOSTANDARD = "LVCMOS18";
NET "ULED[2]" LOC = AR37 | IOSTANDARD = "LVCMOS18";
NET "ULED[3]" LOC = AT37 | IOSTANDARD = "LVCMOS18";
NET "ULED[4]" LOC = AR35 | IOSTANDARD = "LVCMOS18";
NET "ULED[5]" LOC = AP41 | IOSTANDARD = "LVCMOS18";
NET "ULED[6]" LOC = AP42 | IOSTANDARD = "LVCMOS18";
NET "ULED[7]" LOC = AU39 | IOSTANDARD = "LVCMOS18";

## SW
# NET "GPIO_SW_N" LOC = AR40  |  IOSTANDARD = "LVCMOS18";
# NET "GPIO_SW_E" LOC = AU38  |  IOSTANDARD = "LVCMOS18";
# NET "GPIO_SW_W" LOC = AW40  |  IOSTANDARD = "LVCMOS18";
# NET "GPIO_SW_S" LOC = AP40  |  IOSTANDARD = "LVCMOS18";
# NET "GPIO_SW_C" LOC = AV39  |  IOSTANDARD = "LVCMOS18";

## DIP SW
# NET "GPIO_DIP_SW[0]" LOC = AV30  |  IOSTANDARD = "LVCMOS18";
# NET "GPIO_DIP_SW[1]" LOC = AY33  |  IOSTANDARD = "LVCMOS18";
# NET "GPIO_DIP_SW[2]" LOC = BA31  |  IOSTANDARD = "LVCMOS18";
# NET "GPIO_DIP_SW[3]" LOC = BA32  |  IOSTANDARD = "LVCMOS18";
# NET "GPIO_DIP_SW[4]" LOC = AW30  |  IOSTANDARD = "LVCMOS18";
# NET "GPIO_DIP_SW[5]" LOC = AY30  |  IOSTANDARD = "LVCMOS18";
# NET "GPIO_DIP_SW[6]" LOC = BA30  |  IOSTANDARD = "LVCMOS18";
# NET "GPIO_DIP_SW[7]" LOC = BB31  |  IOSTANDARD = "LVCMOS18";

# copied from Sorting_with_VC707/ise/ipcore_dir/dram/user_design/constraints/dram.ucf
##################################################################################################
## 
##  Xilinx, Inc. 2010            www.xilinx.com 
##  ŒŽ 6 30 22:28:22 2014
##  Generated by MIG Version 1.9
##  
##################################################################################################
##  File name :       dram.ucf
##  Details :     Constraints file
##                    FPGA Family:       VIRTEX7
##                    FPGA Part:         XC7VX485T-FFG1761
##                    Speedgrade:        -2
##                    Design Entry:      VERILOG
##                    Frequency:         800 MHz
##                    Time Period:       1250 ps
##################################################################################################

##################################################################################################
## Controller 0
## Memory Device: DDR3_SDRAM->SODIMMs->MT8JTF12864HZ-1G6
## Data Width: 64
## Time Period: 1250
## Data Mask: 1
##################################################################################################

NET "CLK_P" TNM_NET = TNM_sys_clk;
TIMESPEC "TS_sys_clk" = PERIOD "TNM_sys_clk" 5 ns;
          
############## NET - IOSTANDARD ##################

NET   "DDR3DQ[0]"                             LOC = "N14"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L23N_T3_39
NET   "DDR3DQ[1]"                             LOC = "N13"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L22P_T3_39
NET   "DDR3DQ[2]"                             LOC = "L14"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L20N_T3_39
NET   "DDR3DQ[3]"                             LOC = "M14"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L20P_T3_39
NET   "DDR3DQ[4]"                             LOC = "M12"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L24P_T3_39
NET   "DDR3DQ[5]"                             LOC = "N15"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L23P_T3_39
NET   "DDR3DQ[6]"                             LOC = "M11"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L24N_T3_39
NET   "DDR3DQ[7]"                             LOC = "L12"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L19P_T3_39
NET   "DDR3DQ[8]"                             LOC = "K14"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L17P_T2_39
NET   "DDR3DQ[9]"                             LOC = "K13"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L17N_T2_39
NET   "DDR3DQ[10]"                            LOC = "H13"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L14N_T2_SRCC_39
NET   "DDR3DQ[11]"                            LOC = "J13"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L14P_T2_SRCC_39
NET   "DDR3DQ[12]"                            LOC = "L16"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L18P_T2_39
NET   "DDR3DQ[13]"                            LOC = "L15"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L18N_T2_39
NET   "DDR3DQ[14]"                            LOC = "H14"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L13N_T2_MRCC_39
NET   "DDR3DQ[15]"                            LOC = "J15"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L16N_T2_39
NET   "DDR3DQ[16]"                            LOC = "E15"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L7N_T1_39
NET   "DDR3DQ[17]"                            LOC = "E13"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L8N_T1_39
NET   "DDR3DQ[18]"                            LOC = "F15"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L11P_T1_SRCC_39
NET   "DDR3DQ[19]"                            LOC = "E14"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L8P_T1_39
NET   "DDR3DQ[20]"                            LOC = "G13"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L12N_T1_MRCC_39
NET   "DDR3DQ[21]"                            LOC = "G12"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L10P_T1_39
NET   "DDR3DQ[22]"                            LOC = "F14"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L11N_T1_SRCC_39
NET   "DDR3DQ[23]"                            LOC = "G14"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L12P_T1_MRCC_39
NET   "DDR3DQ[24]"                            LOC = "B14"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L2P_T0_39
NET   "DDR3DQ[25]"                            LOC = "C13"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L4N_T0_39
NET   "DDR3DQ[26]"                            LOC = "B16"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L1N_T0_39
NET   "DDR3DQ[27]"                            LOC = "D15"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L5N_T0_39
NET   "DDR3DQ[28]"                            LOC = "D13"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L4P_T0_39
NET   "DDR3DQ[29]"                            LOC = "E12"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L6P_T0_39
NET   "DDR3DQ[30]"                            LOC = "C16"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L1P_T0_39
NET   "DDR3DQ[31]"                            LOC = "D16"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L5P_T0_39
NET   "DDR3DQ[32]"                            LOC = "A24"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L1P_T0_37
NET   "DDR3DQ[33]"                            LOC = "B23"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L4N_T0_37
NET   "DDR3DQ[34]"                            LOC = "B27"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L5N_T0_37
NET   "DDR3DQ[35]"                            LOC = "B26"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L5P_T0_37
NET   "DDR3DQ[36]"                            LOC = "A22"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L2N_T0_37
NET   "DDR3DQ[37]"                            LOC = "B22"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L2P_T0_37
NET   "DDR3DQ[38]"                            LOC = "A25"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L1N_T0_37
NET   "DDR3DQ[39]"                            LOC = "C24"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L6P_T0_37
NET   "DDR3DQ[40]"                            LOC = "E24"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L7N_T1_37
NET   "DDR3DQ[41]"                            LOC = "D23"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L10N_T1_37
NET   "DDR3DQ[42]"                            LOC = "D26"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L11N_T1_SRCC_37
NET   "DDR3DQ[43]"                            LOC = "C25"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L12P_T1_MRCC_37
NET   "DDR3DQ[44]"                            LOC = "E23"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L7P_T1_37
NET   "DDR3DQ[45]"                            LOC = "D22"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L10P_T1_37
NET   "DDR3DQ[46]"                            LOC = "F22"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L8P_T1_37
NET   "DDR3DQ[47]"                            LOC = "E22"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L8N_T1_37
NET   "DDR3DQ[48]"                            LOC = "A30"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L17N_T2_37
NET   "DDR3DQ[49]"                            LOC = "D27"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L13P_T2_MRCC_37
NET   "DDR3DQ[50]"                            LOC = "A29"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L17P_T2_37
NET   "DDR3DQ[51]"                            LOC = "C28"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L14P_T2_SRCC_37
NET   "DDR3DQ[52]"                            LOC = "D28"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L13N_T2_MRCC_37
NET   "DDR3DQ[53]"                            LOC = "B31"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L18N_T2_37
NET   "DDR3DQ[54]"                            LOC = "A31"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L16P_T2_37
NET   "DDR3DQ[55]"                            LOC = "A32"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L16N_T2_37
NET   "DDR3DQ[56]"                            LOC = "E30"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L19P_T3_37
NET   "DDR3DQ[57]"                            LOC = "F29"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L22P_T3_37
NET   "DDR3DQ[58]"                            LOC = "F30"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L24P_T3_37
NET   "DDR3DQ[59]"                            LOC = "F27"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L23N_T3_37
NET   "DDR3DQ[60]"                            LOC = "C30"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L20N_T3_37
NET   "DDR3DQ[61]"                            LOC = "E29"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L22N_T3_37
NET   "DDR3DQ[62]"                            LOC = "F26"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L23P_T3_37
NET   "DDR3DQ[63]"                            LOC = "D30"     |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L20P_T3_37
NET   "DDR3ADDR[15]"                          LOC = "E17"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L8N_T1_38
NET   "DDR3ADDR[14]"                          LOC = "F17"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L8P_T1_38
NET   "DDR3ADDR[13]"                          LOC = "A21"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L5N_T0_38
NET   "DDR3ADDR[12]"                          LOC = "A15"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L2N_T0_38
NET   "DDR3ADDR[11]"                          LOC = "B17"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L4P_T0_38
NET   "DDR3ADDR[10]"                          LOC = "B21"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L5P_T0_38
NET   "DDR3ADDR[9]"                           LOC = "C19"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L1P_T0_38
NET   "DDR3ADDR[8]"                           LOC = "D17"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L10N_T1_38
NET   "DDR3ADDR[7]"                           LOC = "C18"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L6P_T0_38
NET   "DDR3ADDR[6]"                           LOC = "D20"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L7P_T1_38
NET   "DDR3ADDR[5]"                           LOC = "A16"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L2P_T0_38
NET   "DDR3ADDR[4]"                           LOC = "A17"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L4N_T0_38
NET   "DDR3ADDR[3]"                           LOC = "A19"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L3N_T0_DQS_38
NET   "DDR3ADDR[2]"                           LOC = "C20"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L7N_T1_38
NET   "DDR3ADDR[1]"                           LOC = "B19"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L1N_T0_38
NET   "DDR3ADDR[0]"                           LOC = "A20"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L3P_T0_DQS_38
NET   "DDR3BA[2]"                             LOC = "D18"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L10P_T1_38
NET   "DDR3BA[1]"                             LOC = "C21"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L9N_T1_DQS_38
NET   "DDR3BA[0]"                             LOC = "D21"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L9P_T1_DQS_38
NET   "DDR3RAS_N"                             LOC = "E20"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L15N_T2_DQS_38
NET   "DDR3CAS_N"                             LOC = "K17"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L16P_T2_38
NET   "DDR3WE_N"                              LOC = "F20"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L15P_T2_DQS_38
NET   "DDR3RESET_N"                           LOC = "C29"     |   IOSTANDARD = LVCMOS15             |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L14N_T2_SRCC_37
NET   "DDR3CKE[0]"                            LOC = "K19"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L14P_T2_SRCC_38
NET   "DDR3ODT[0]"                            LOC = "H20"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L17N_T2_38
NET   "DDR3CS_N[0]"                           LOC = "J17"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L16N_T2_38
NET   "DDR3DM[0]"                             LOC = "M13"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L22N_T3_39
NET   "DDR3DM[1]"                             LOC = "K15"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L16P_T2_39
NET   "DDR3DM[2]"                             LOC = "F12"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L10N_T1_39
NET   "DDR3DM[3]"                             LOC = "A14"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L2N_T0_39
NET   "DDR3DM[4]"                             LOC = "C23"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L4P_T0_37
NET   "DDR3DM[5]"                             LOC = "D25"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L11P_T1_SRCC_37
NET   "DDR3DM[6]"                             LOC = "C31"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L18P_T2_37
NET   "DDR3DM[7]"                             LOC = "F31"     |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L24N_T3_37
NET   "CLK_P"                                 LOC = "E19"     |   IOSTANDARD = DIFF_SSTL15          |     VCCAUX_IO = DONTCARE                             ; # Pad function: IO_L12P_T1_MRCC_38
NET   "CLK_N"                                 LOC = "E18"     |   IOSTANDARD = DIFF_SSTL15          |     VCCAUX_IO = DONTCARE                             ; # Pad function: IO_L12N_T1_MRCC_38
NET   "RST_X_IN"                              LOC = "AW40"    |   IOSTANDARD = LVCMOS18             |     VCCAUX_IO = DONTCARE                             ; # Pad function: IO_L13N_T2_MRCC_15
NET   "DDR3DQS_P[0]"                          LOC = "N16"     |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L21P_T3_DQS_39
NET   "DDR3DQS_N[0]"                          LOC = "M16"     |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L21N_T3_DQS_39
NET   "DDR3DQS_P[1]"                          LOC = "K12"     |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L15P_T2_DQS_39
NET   "DDR3DQS_N[1]"                          LOC = "J12"     |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L15N_T2_DQS_39
NET   "DDR3DQS_P[2]"                          LOC = "H16"     |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L9P_T1_DQS_39
NET   "DDR3DQS_N[2]"                          LOC = "G16"     |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L9N_T1_DQS_39
NET   "DDR3DQS_P[3]"                          LOC = "C15"     |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L3P_T0_DQS_39
NET   "DDR3DQS_N[3]"                          LOC = "C14"     |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L3N_T0_DQS_39
NET   "DDR3DQS_P[4]"                          LOC = "A26"     |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L3P_T0_DQS_37
NET   "DDR3DQS_N[4]"                          LOC = "A27"     |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L3N_T0_DQS_37
NET   "DDR3DQS_P[5]"                          LOC = "F25"     |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L9P_T1_DQS_37
NET   "DDR3DQS_N[5]"                          LOC = "E25"     |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L9N_T1_DQS_37
NET   "DDR3DQS_P[6]"                          LOC = "B28"     |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L15P_T2_DQS_37
NET   "DDR3DQS_N[6]"                          LOC = "B29"     |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L15N_T2_DQS_37
NET   "DDR3DQS_P[7]"                          LOC = "E27"     |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L21P_T3_DQS_37
NET   "DDR3DQS_N[7]"                          LOC = "E28"     |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L21N_T3_DQS_37
NET   "DDR3CK_P[0]"                           LOC = "H19"     |   IOSTANDARD = DIFF_SSTL15          |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L13P_T2_MRCC_38
NET   "DDR3CK_N[0]"                           LOC = "G18"     |   IOSTANDARD = DIFF_SSTL15          |     VCCAUX_IO = HIGH        |     SLEW = FAST        ; # Pad function: IO_L13N_T2_MRCC_38



INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/phaser_out" LOC=PHASER_OUT_PHY_X1Y19;
INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/phaser_out" LOC=PHASER_OUT_PHY_X1Y18;
INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/phaser_out" LOC=PHASER_OUT_PHY_X1Y17;
INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/phaser_out" LOC=PHASER_OUT_PHY_X1Y16;
INST "*/ddr_phy_4lanes_1.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/phaser_out" LOC=PHASER_OUT_PHY_X1Y23;
INST "*/ddr_phy_4lanes_1.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/phaser_out" LOC=PHASER_OUT_PHY_X1Y22;
INST "*/ddr_phy_4lanes_1.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/phaser_out" LOC=PHASER_OUT_PHY_X1Y21;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/phaser_out" LOC=PHASER_OUT_PHY_X1Y27;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/phaser_out" LOC=PHASER_OUT_PHY_X1Y26;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/phaser_out" LOC=PHASER_OUT_PHY_X1Y25;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/phaser_out" LOC=PHASER_OUT_PHY_X1Y24;

INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/phaser_in_gen.phaser_in" LOC=PHASER_IN_PHY_X1Y19;
INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/phaser_in_gen.phaser_in" LOC=PHASER_IN_PHY_X1Y18;
INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/phaser_in_gen.phaser_in" LOC=PHASER_IN_PHY_X1Y17;
INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/phaser_in_gen.phaser_in" LOC=PHASER_IN_PHY_X1Y16;
## INST "*/ddr_phy_4lanes_1.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/phaser_in_gen.phaser_in" LOC=PHASER_IN_PHY_X1Y23;
## INST "*/ddr_phy_4lanes_1.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/phaser_in_gen.phaser_in" LOC=PHASER_IN_PHY_X1Y22;
## INST "*/ddr_phy_4lanes_1.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/phaser_in_gen.phaser_in" LOC=PHASER_IN_PHY_X1Y21;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/phaser_in_gen.phaser_in" LOC=PHASER_IN_PHY_X1Y27;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/phaser_in_gen.phaser_in" LOC=PHASER_IN_PHY_X1Y26;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/phaser_in_gen.phaser_in" LOC=PHASER_IN_PHY_X1Y25;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/phaser_in_gen.phaser_in" LOC=PHASER_IN_PHY_X1Y24;



INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/out_fifo" LOC=OUT_FIFO_X1Y19;
INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/out_fifo" LOC=OUT_FIFO_X1Y18;
INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/out_fifo" LOC=OUT_FIFO_X1Y17;
INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/out_fifo" LOC=OUT_FIFO_X1Y16;
INST "*/ddr_phy_4lanes_1.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/out_fifo" LOC=OUT_FIFO_X1Y23;
INST "*/ddr_phy_4lanes_1.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/out_fifo" LOC=OUT_FIFO_X1Y22;
INST "*/ddr_phy_4lanes_1.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/out_fifo" LOC=OUT_FIFO_X1Y21;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/out_fifo" LOC=OUT_FIFO_X1Y27;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/out_fifo" LOC=OUT_FIFO_X1Y26;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/out_fifo" LOC=OUT_FIFO_X1Y25;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/out_fifo" LOC=OUT_FIFO_X1Y24;

INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/in_fifo_gen.in_fifo" LOC=IN_FIFO_X1Y19;
INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/in_fifo_gen.in_fifo" LOC=IN_FIFO_X1Y18;
INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/in_fifo_gen.in_fifo" LOC=IN_FIFO_X1Y17;
INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/in_fifo_gen.in_fifo" LOC=IN_FIFO_X1Y16;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/in_fifo_gen.in_fifo" LOC=IN_FIFO_X1Y27;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/in_fifo_gen.in_fifo" LOC=IN_FIFO_X1Y26;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/in_fifo_gen.in_fifo" LOC=IN_FIFO_X1Y25;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/in_fifo_gen.in_fifo" LOC=IN_FIFO_X1Y24;

INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/phy_control_i" LOC=PHY_CONTROL_X1Y4;
INST "*/ddr_phy_4lanes_1.u_ddr_phy_4lanes/phy_control_i" LOC=PHY_CONTROL_X1Y5;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/phy_control_i" LOC=PHY_CONTROL_X1Y6;

INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/phaser_ref_i" LOC=PHASER_REF_X1Y4;
INST "*/ddr_phy_4lanes_1.u_ddr_phy_4lanes/phaser_ref_i" LOC=PHASER_REF_X1Y5;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/phaser_ref_i" LOC=PHASER_REF_X1Y6;


INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/ddr_byte_group_io/*slave_ts" LOC=OLOGIC_X1Y243;
INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/ddr_byte_group_io/*slave_ts" LOC=OLOGIC_X1Y231;
INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/ddr_byte_group_io/*slave_ts" LOC=OLOGIC_X1Y219;
INST "*/ddr_phy_4lanes_2.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/ddr_byte_group_io/*slave_ts" LOC=OLOGIC_X1Y207;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/ddr_byte_group_io/*slave_ts" LOC=OLOGIC_X1Y343;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/ddr_byte_group_io/*slave_ts" LOC=OLOGIC_X1Y331;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/ddr_byte_group_io/*slave_ts" LOC=OLOGIC_X1Y319;
INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/ddr_byte_group_io/*slave_ts" LOC=OLOGIC_X1Y307;

INST "*/u_ddr3_infrastructure/plle2_i" LOC=PLLE2_ADV_X1Y5;
INST "*/u_ddr3_infrastructure/gen_mmcm.mmcm_i" LOC=MMCME2_ADV_X1Y5;


NET "*/iserdes_clk" TNM_NET = "TNM_ISERDES_CLK";
INST "*/mc0/mc_read_idle_r" TNM = "TNM_SOURCE_IDLE";
INST "*/input_[?].iserdes_dq_.iserdesdq" TNM = "TNM_DEST_ISERDES";
TIMESPEC "TS_ISERDES_CLOCK" = PERIOD "TNM_ISERDES_CLK" 1250 ps;
TIMESPEC TS_MULTICYCLEPATH = FROM "TNM_SOURCE_IDLE" TO "TNM_DEST_ISERDES" TS_ISERDES_CLOCK*6;
          

INST "*/device_temp_sync_r1*" TNM="TNM_MULTICYCLEPATH_DEVICE_TEMP_SYNC";
TIMESPEC "TS_MULTICYCLEPATH_DEVICE_TEMP_SYNC" = TO "TNM_MULTICYCLEPATH_DEVICE_TEMP_SYNC" 20 ns DATAPATHONLY;
          
